* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav{
  display: flex;
  background-color: white;
  filter: drop-shadow(0px 2.983px 7.456px rgba(0, 0, 0, 0.10));
}

.logo{
  width: 82.02px;
  height: 25.352px;
  margin: 22px 0 22px 30px;
}