* {
  box-sizing: border-box;
}

body {
  background-color:#23252C;;
}

/* App */
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 317px 780px;
  /* width: 317px; */
  /* height: 780px; */
  align-items: center;
  /* justify-content: center; */

}
.self-photo{
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}
.text--container{
  display: flex;
  width: 317px;
  height: 399px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  background: #1A1B21;
}
/* Personal Info */
.personalinfo{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  }

.personalinfo--name{
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 21px 0px 0px 0px ;

}
.personalinfo--title{
  margin: 6px 0px 0px 0px;
  color: #F3BF99;
  text-align: center;
  font-family: Inter;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.personalinfo--website{
  margin: 9px 0px 0px 0px;
  color: #F5F5F5;
  text-align: center;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
.personalinfo--website:link {
  text-decoration: none;
  color:#FFF;
}

.personalinfo--website:visited {
  text-decoration: none;
}

.personalinfo--website:hover {
  text-decoration: underline;
}

.personalinfo--website:active {
  text-decoration: underline;
}
/* Buttons */
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 35px 0px 35px;
  justify-content: space-between;
  gap:17px
}

.buttons>button{
  display: flex;
  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.buttons>button:active{
  opacity: 0.9;
}

button>img{
  width: 16px;
  height: 16px;
}
.buttons--email{
  color: #374151;
  border-radius: 6px;
  background: #FFF;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* .buttons--email>p{
  width: 36px;
  height: 16px;
} */
.buttons--linkedin{
  color: #FFF;
  border-radius: 6px;
  background: #5093E2;

  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }

/* Body Text */
.bodytext{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px 35px 0px 35px;
  }

.bodytext>h1{
  color: #F5F5F5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */

  margin: 30px 0px 0px 0px;
  }

.bodytext>p{
  color: #DCDCDC;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */

margin: 5px 0px 0px 0px;
}

/* SocialsFooter */

.socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  position: absolute;
  bottom: 0;
}
